---
import PostCard from "@/components/PostCard.astro";
import { siteConfig } from "@/config";
import Layout from "@/layouts/Layout.astro";
import { getSortedPosts } from "@/utils/content-utils";

const posts = await getSortedPosts();
const latestPosts = posts.slice(0, 6);
---

<Layout title={siteConfig.title} description={siteConfig.subtitle}>
	<section>
		<h1 class="mb-8 text-4xl font-bold">Recent Posts</h1>
		<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
			{
				latestPosts.map((post) => (
					<div class="col-span-1">
						<PostCard
							entry={post}
							url={`/posts/${post.slug}/`}
							title={post.data.title}
							published={post.data.published}
							updated={post.data.updated}
							tags={post.data.tags}
							category={post.data.category}
							image={post.data.image}
							description={post.data.description}
							draft={post.data.draft}
							style=""
						/>
					</div>
				))
			}
		</div>
	</section>
</Layout>


